.pad{
    position: absolute;
    top: 10%;
    left: 35%;
    border: 2px solid black;
}

.sign-pad{
    position: absolute;
    top: 10%;
    left: 70%;
    display: none;
}

.save-button{
    position: absolute;
    top: 75%;
    left: 40%;
    padding: 0.5% 1% 0.5% 1%;
    font-size: 2.5vh;
}

.clear-button{
    position: absolute;
    top: 75%;
    left: 53%;
    padding: 0.5% 1% 0.5% 1%;
    font-size: 2.5vh;
}